<div id="Header_creative_custom">
    <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>
    <a href="#" class="creative-menu-share"><i class="icon-share"></i></a>
    <!--Social info area-->
    <ul class="social creative-social">
        <li class="skype">
            <a href="#" title="Skype"><i class="icon-skype"></i></a>
        </li>
        <li class="facebook">
            <a target="_blank" href="#" title="Facebook"><i class="icon-facebook"></i></a>
        </li>
        <li class="googleplus">
            <a target="_blank" href="#" title="Google+"><i class="icon-gplus"></i></a>
        </li>
        <li class="twitter">
            <a target="_blank" href="#" title="Twitter"><i class="icon-twitter"></i></a>
        </li>
        <li class="vimeo">
            <a target="_blank" href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
        </li>
        <li class="youtube">
            <a target="_blank" href="#" title="YouTube"><i class="icon-play"></i></a>
        </li>
        <li class="flickr">
            <a target="_blank" href="#" title="Flickr"><i class="icon-flickr"></i></a>
        </li>
        <li class="linked_in">
            <a target="_blank" href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
        </li>
        <li class="pinterest">
            <a target="_blank" href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
        </li>
    </ul>
    <style>
        #Header_creative.active {
            background: url(content/agency/images/slides/right.jpg); /*pic_31*/
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }



        @media only screen and (max-width: 767px) {
            #Header_creative.active {
            }

            .zoom_box {
                width: 100%;
                height: 100%;
            }

            #Header_creative a.creative-menu-share {
                display: none;
            }

            .black-cover {
                display: none;
            }

            div.red-menu-block {
                display: none;
            }

            /*#Header_creative.active a.creative-menu-share { display:none;}*/
        }
    </style>
    <div class="creative-wrapper">
        <!--<img src="http://image.yesbabyonline.com/images/201305/goods_img/14047_P_1369975049189.jpg" width="250" class="" style="position:absolute;top:0;left:0;object-fit: cover;height:100%" />-->
        <!-- Header -  Logo and Menu area -->
        <div class="black-cover"></div>
        <button class="subscribe-menu-left">SUBSCRIBE</button>
        <div id="Top_bar">
            <div class="one">
                <div class="top_bar_left">
                    <!-- Logo-->
                    <div class="logo right-align">
                        <h1><a ng-click="goToMainPage()" id="logo" href="#" title="Gorgies"><img class="scale-with-grid" src="content/agency/images/icons-more/site_menu_light.png" alt="Gorgies - Gorgies" /></a></h1>
                    </div>
                    <!-- Main menu-->
                    <div class="menu_wrapper">
                        <nav id="menu">
                            <ul id="menu-main-menu" class="menu">
                                <li id="menu-item-5" class="current_page_item">
                                    <a href="/web/1" class="archivo-font"><span>Home</span></a>
                                </li>
                                <li id="menu-item-28">
                                    <a href="/web/gallery/1" class="archivo-font"><span>Galleries</span></a>
                                </li>
                                <li id="menu-item-40">
                                    <a href="/web/1"><span>Abouts</span></a>
                                </li>
                                <li id="menu-item-38">
                                    <a href="/web/contact/1"><span>Contacts</span></a>
                                </li>
                            </ul>
                        </nav>
                        <a class="responsive-menu-toggle" href="#"><i class='icon-menu'></i></a>
                    </div>
                    <div class="red-menu-block"></div>
                    <!-- Header Searchform area-->
                    <!--<div class="search_wrapper">
                        <form method="get" action="#">
                            <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                            <input type="text" class="field" name="s" placeholder="Enter your search" />
                            <input type="submit" class="submit flv_disp_none" value="" />
                        </form>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- Header Top -  Info Area -->
        <div id="Action_bar">
            <!--Social info area-->
            <ul class="social">
                <li class="skype">
                    <a href="#" title="Skype"><i class="icon-skype"></i></a>
                </li>
                <li class="facebook">
                    <a target="_blank" href="#" title="Facebook"><i class="icon-facebook"></i></a>
                </li>
                <li class="googleplus">
                    <a target="_blank" href="#" title="Google+"><i class="icon-gplus"></i></a>
                </li>
                <li class="twitter">
                    <a target="_blank" href="#" title="Twitter"><i class="icon-twitter"></i></a>
                </li>
                <li class="vimeo">
                    <a target="_blank" href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                </li>
                <li class="youtube">
                    <a target="_blank" href="#" title="YouTube"><i class="icon-play"></i></a>
                </li>
                <li class="flickr">
                    <a target="_blank" href="#" title="Flickr"><i class="icon-flickr"></i></a>
                </li>
                <li class="linked_in">
                    <a target="_blank" href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
                </li>
                <li class="pinterest">
                    <a target="_blank" href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>