
<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <!--<div class="row">
            <div class="col-md-6">-->
        <!-- START PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    {{'MyProfileInformation' | translate}}
                </div>
            </div>
            <div class="panel-body" style="background-color:burlywood;">
                <form id="form" role="form" novalidate angular-validator name="addProfileForm" angular-validator-submit="AddObject()">
                    <div data-pages="portlet" ng-repeat="content in Contents" class="panel panel-default" id="portlet-basic">
                        <div class="panel-heading ">
                            <div class="panel-title">
                                Portlet Title
                            </div>
                            <div class="panel-controls">
                                <ul>
                                    <li>
                                        <a ng-click="Contents.splice($index,1)" class="portlet-close" href="#"><i class="portlet-icon portlet-icon-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body" ng-if="content.ContentTypeID == 1">
                            <img ng-src="{{content.ContentURL}}" style="width:100%; height:60%;" />
                            <textarea ng-if="$index == 0" rows="5" style="height: 70px;margin-top:7px;" name="ProfileDescription" ng-model="content.ContentTitle" validate-on="blur" class="form-control" placeholder="Describe Something..." maxlength="250" required></textarea>
                            <textarea ng-if="$index > 0" rows="5" style="height: 70px;margin-top:7px;" name="ProfileDescription" ng-model="content.ContentTitle" validate-on="blur" class="form-control" placeholder="Describe Something..." maxlength="250"></textarea>
                        </div>
                        <div class="panel-body" ng-if="content.ContentTypeID == 3">
                            <input type="text" name="ProfileFullname" ng-model="content.ContentTitle" validate-on="blur" class="form-control" placeholder="eg.: John Doe" required />
                            <textarea rows="5" style="height: 70px;margin-top:7px;" name="ProfileDescription" ng-model="content.ContentURL" validate-on="blur" class="form-control" placeholder="Describe Something..." maxlength="250" required></textarea>
                        </div>
                        <div class="panel-body" ng-if="content.ContentTypeID > 3">
                            <select id="ContentTypeID" class="form-control cs-select cs-skin-slide" ng-change="content.ContentTypeID=content.ContentTitle" ng-model="content.ContentTitle" ng-options="option.ContentTypeID as option.ContentTypeName for option in ContentTypes" title="Please select at least one" required></select><input type="hidden" name="ContentTypeID" ng-value="object.ContentTypeID" />
                            <input type="text" ng-pattern="regx" style="margin-top:7px;" name="ProfileFullname" ng-model="content.ContentURL" validate-on="blur" class="form-control" placeholder="eg.: John Doe" required />
                        </div>
                    </div>
                    <div data-pages="portlet" class="panel panel-default" id="portlet-basic">
                        <div class="panel-body" style="text-align:center;">
                            <button class="btn btn-primary btn-cons m-b-10" id="addnewPhoto" type="button">
                                <i class="pg-form"></i> <span class="bold">Submit</span>
                            </button>
                            <!-- Indicates a successful or positive action -->
                            <button class="btn btn-success btn-cons m-b-10" ng-click="addNewTextContent()" ng-disabled="Contents.length == 0" type="button">
                                <i class="fa fa-cloud-upload"></i> <span class="bold">Upload</span>
                            </button>
                            <!-- Contextual button for informational alert messages -->
                            <button class="btn btn-info btn-cons m-b-10" ng-click="addNewCTAContent()" ng-disabled="Contents.length == 0" type="button">
                                <i class="fa fa-paste"></i> <span class="bold">Edit</span>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin:7px 0px;" ng-show="ProfileIsConfirmed == true">
                        <div angucomplete-alt placeholder="Category"
                             pause="60"
                             selected-object="Category"
                             remote-url="{{searchKeywordURL}}"
                             remote-url-data-field="Result"
                             title-field="KeyName"
                             description-field="KeyExtra"
                             input-class="form-control form-control-small"
                             override-suggestions="true"
                             autocapitalize="on"
                             minlength="1"
                             field-required="true"></div>
                    </div>
                    <div pg-form-group class="form-group form-group-default required">
                        <label>{{'ShortDescription' | translate}}</label>
                        <input type="date" name="AlbumDatePublish" min="{{today}}" ng-model="object.AlbumDatePublish" validate-on="blur" class="form-control" required />
                    </div>
                    <!--<div pg-form-group class="form-group form-group-default required">
                        <label>{{'Theme' | translate}}</label>
                        <select id="CategoryID" class="form-control cs-select cs-skin-slide"
                                ng-model="object.CategoryID"
                                ng-options="option.KeyID as option.KeyName for option in Categories" title="Please select at least one" required></select><input type="hidden" name="Categories" ng-value="object.CategoryID" />
                    </div>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default" ng-if="ProfileIsConfirmed == true">
                                <label>{{'ProfileType' | translate}}Topics</label>
                                <select id="TopicID" class="form-control" ng-model="object.TopicID" ng-options="option.KeyID as option.KeyName for option in Categories" title="Please select at least one"></select><input type="hidden" name="Topics" ng-value="object.TopicID" />
                            </div>
                            <div pg-form-group class="form-group form-group-default required" ng-if="ProfileIsConfirmed == false">
                                <label>{{'ProfileType' | translate}}Topics</label>
                                <select id="TopicID" class="form-control" ng-model="object.TopicID" ng-options="option.KeyID as option.KeyName for option in Categories" title="Please select at least one" required></select><input type="hidden" name="Topics" ng-value="object.TopicID" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default required">
                                <label>{{'Subscription' | translate}}</label>
                                <select id="AlbumReadingLanguageCode" class="form-control cs-select cs-skin-slide"
                                        ng-model="object.AlbumReadingLanguageCode"
                                        ng-options="option.KeyExtra as option.KeyName for option in Languages" title="Please select at least one" required></select><input type="hidden" name="AlbumReadingLanguageCode" ng-value="object.AlbumReadingLanguageCode" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default required">
                                <label>{{'ProfileType' | translate}}</label>
                                <select id="AlbumAvailability" class="form-control" ng-model="object.AlbumAvailability" ng-options="option.KeyID as option.KeyName for option in Availabilities" title="Please select at least one" required></select><input type="hidden" name="Availabilities" ng-value="object.AlbumAvailability" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default required">
                                <label>{{'Subscription' | translate}}</label>
                                <select id="ContentRatingID" class="form-control" ng-model="object.ContentRatingID" ng-options="option.KeyID as option.KeyName for option in ContentRatings" title="Please select at least one" required></select><input type="hidden" name="ContentRatingID" ng-value="object.ContentRatingID" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div pg-form-group class="form-group form-group-default">
                            <input type="checkbox" name="AlbumHasComment" ng-model="object.AlbumHasComment" />Can Review?
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-primary" type="submit" ng-disabled="addProfileForm.$invalid">{{'Submit' | translate}}</button>
                            <a class="btn btn-default" ng-click="redirect()">{{'Cancel' | translate}}</a>
                        </div>
                    </div>
                    <ng-dropzone class="dropzone" style="display:none" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods"></ng-dropzone>
                </form>

            </div>
        </div>
        <!-- END PANEL -->
        <!--</div>


                       </div>-->
    </div>
</div>