<style>
    .tkFont-Bold {
        font-weight: 600;
    }
</style>
<div id="Wrapper">
    <!-- Main Content 7-->


    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="mainmanulogo">
                    <!-- ngIf: isAdmin -->
                    <img class="scale-with-grid" src="content/images/home.svg" style="z-index:99999;width:32px;cursor:default" alt="Gorgias">
                </div>
                <div class="section_wrapper clearfix">

                    <div class="column one column_column no-margin-column" style="margin-left: 19px;margin-top:100px;">
                        <!--no-margin-column-->
                        <div class="btn-group custom-margin-div">
                            <img src="/content/images/gorgias_logo.png" width="150" height="150" class="login-gorgias-logo">
                        </div>

                    </div>
                    <div class="column one column_column no-margin-column" style="margin-left: 19px;margin-top: 10px;">
                        <!--no-margin-column-->
                        <div class="btn-group custom-margin-div">
                            <span class="search-icon">About Us</span><br />
                        </div>

                    </div>
                    <div class="column one column_column no-margin-column" style="margin-left: 19px;">
                        <!--Privacy Policy list-->
                        <div class="section mcb-section tkSection-padding bg-color-1">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one  valign-top clearfix tkAutoAlignCenter">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <p class="tou-descriptions" style="line-height:32px;text-align:justify;">
                                                    <br><span class="tkFont-Bold">About Celebrities & Brands</span>
                                                    <br><br>
                                                    GORGIAS® , is a new social media advertising and technology platform in Malaysia that gathers Celebrities, Professionals, Communities and Brands from different industries with more than 10,000 fans and followers. With this gathering, we will have more than a million audience and we can deliver advertiser’s messages to them.
                                                    <br><br>

                                                    <span class="tkFont-Bold">
                                                        Our Vision
                                                    </span>

                                                    <br><br>
                                                    To bring up and make Gorgias® an establish brand, a well known business, a biggest mobile app platform with the most advance technology of advertising. GORGIAS®, BrandSO and BA platform will expand to others countries in Asia.
                                                    <br><br>

                                                    <span class="tkFont-Bold">
                                                        Our Objective
                                                    </span>

                                                    <br><br>To become the biggest celebrities, proffessional and brands platform in Asia and even around the globe.                                                    
                                                    <br><br>

                                                    <span class="tkFont-Bold">
                                                        Media Evolution
                                                    </span>
                                                    <br /><br />Gorgias® is the leading provider of interactive between media and hi-technologies. We provide total solutions for who advertise here.
                                                    <br><br>1. Million traffic drive to your brand, create exposure and increase in value.
                                                    <br><br>2. Gorgias is a platform dedicated for your brand Loyalty campaign.
                                                    <br><br>3. Gather Gorgeous a different industries as fashions, artistes, actors, celebrities, consultants, entrepreneurs, charities, designs, models, and more social life platforms. 
                                                    <br><br>4. Our audiences are Gorgeous’ fans or followers and with high purchasing power.
                                                    <br><br>5. Premium ad post impression reach to a million users via  our Gorgeous mobile application, GORGIASTM app.
                                                    <br><br>6. An interactive ad display in static 2d, 3d model and motion graphic by Augmented Reality technology.
                                                    <br><br>7. Professional promotional video from zero to production.
                                                    <br><br>                                                  
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="section the_content copyright-fixed-footer">
            <div class="section_wrapper">
                <div class="the_content_wrapper">
                    <div class="footer-copyright">Gorgias, Copyrights © 2017</div> <div class="footer-copyright-menu"><a href="http://cp.gorgias.com" target="_blank" class="footer-menu signin">Sign In</a><a href="/terms-of-use" class="footer-menu">Terms of Use</a><a href="/about-us" class="footer-menu">About Us</a><a href="/contact-us" class="footer-menu">Contact Us</a><!--<a class="footer-menu">Privacy</a>--><a href="/admin/login" class="footer-menu signin">Account</a></div><!--ng-click="signIn()"-->                </div>
            </div>
        </div>
    </div>
</div>
