<style>
    .tkFont-Bold {
        font-weight: 600;
    }
</style>
<div id="Wrapper">
    <!-- Main Content 7-->


    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="mainmanulogo">
                    <!-- ngIf: isAdmin -->
                    <img class="scale-with-grid" src="content/images/home.svg" style="z-index:99999;width:32px;cursor:default" alt="Gorgias">
                </div>
                <div class="section_wrapper clearfix">

                    <div class="column one column_column no-margin-column" style="margin-left: 19px;margin-top:100px;">
                        <!--no-margin-column-->
                        <div class="btn-group custom-margin-div">
                            <img src="/content/images/gorgias_logo.png" width="150" height="150" class="login-gorgias-logo">
                        </div>

                    </div>
                    <div class="column one column_column no-margin-column" style="margin-left: 19px;margin-top: 10px;">
                        <!--no-margin-column-->
                        <div class="btn-group custom-margin-div">
                            <span class="search-icon">Contact Us</span><br />
                        </div>

                    </div>
                    <div class="column one column_column no-margin-column" style="margin-left: 19px;">
                        <!--Privacy Policy list-->
                        <div class="section mcb-section tkSection-padding bg-color-1">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one  valign-top clearfix tkAutoAlignCenter">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <ng-map id="GorgiasOffice" lazy-init="false" centered="true" center="[3.110519, 101.66565979999996]"
                                                        zoom="16" style="position:absolute;width:100%;overflow:hidden;">
                                                    <marker position="[3.110519, 101.66565979999996]"></marker>
                                                </ng-map>
                                                <p class="tou-descriptions" style="line-height:32px;text-align:justify;">
                                                    <br><span class="tkFont-Bold"></span>
                                                    <br><br>                                                    
                                                    <br><br>

                                                    <span class="tkFont-Bold">
                                                    </span>

                                                    <br><br>
                                                    <br><br><br><b>Gorgias Network (M) Sdn Bhd.</b><br />1138476-K<br>A-19-11, Tower A, The Vertical Business Suite,<br>No 8, Jalan Kerinchi, Bangsar South, <br>59200 Kuala Lumpur. Malaysia
                                                    <br><br>

                                                    <span class="tkFont-Bold">
                                                        Any enquiry?
                                                    </span>
                                                    Send us an email to <a href="mailto:emma@gorgias.com">Emma@gorgias.com</a>
                                                    <br><br>                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="section the_content copyright-fixed-footer">
            <div class="section_wrapper">
                <div class="the_content_wrapper">
                    <div class="footer-copyright">Gorgias, Copyrights © 2017</div> <div class="footer-copyright-menu"><a href="http://cp.gorgias.com" target="_blank" class="footer-menu signin">Sign In</a><a href="/terms-of-use" class="footer-menu">Terms of Use</a><a href="/about-us" class="footer-menu">About Us</a><a href="/contact-us" class="footer-menu">Contact Us</a><!--<a class="footer-menu">Privacy</a>--><a href="/admin/login" class="footer-menu signin">Account</a></div><!--ng-click="signIn()"-->                </div>
            </div>
        </div>
    </div>
</div>
