<div id="Wrapper">
    <div class="mfn-main-slider">
        <div class="section dark" id="featured" style="height: 100vh;background-color:; background-image:url(content/agency/images/366474.jpg); background-repeat:no-repeat; background-position:center top; background-size:cover; -webkit-background-size:cover;background-attachment:fixed;" data-stellar-background-ratio="1">
            <div class="section_wrapper clearfix" style="height: 100vh;">
                <div class="items_group clearfix" style="height: 100vh;">
                    <div id="custom-modal">
                        <div id="overlay">
                            <div class="login-layout">
                                <img src="/content/images/gorgias_logo.png" width="50" height="50" class="login-gorgias-logo">
                                <div class="login-action" style="color:#888888;line-height: 19px;">
                                    {{ActivatingMessage}}
                                </div>
                                <button class="btn btn-default" ng-show="isLoaded" ng-click="goToPortal()">Go To Portal Now</button>
                            </div>
                        </div>
                        <div id="fade"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>