<side-Bar profileurl="ProfileURL" profileid="ProfileID" subscribemode="SubscribeMode" profiletypeid="ProfileTypeID" slidermode="2"></side-Bar>
<div id="loading-bar-container"></div>

<div id="Wrapper">
    <!-- Header Wrapper -->
    <div id="Header_wrapper">
        <!-- Header -->
        <header id="Header">
            <!-- main container -->            
            <div id="rev_slider_50_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography-carousel48" style="background-color:#000000;padding:0px;">                
                <div id="rev_slider_50_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                    <ul>
                        <li ng-repeat="obj in contents" data-index="rs-183" data-transition="slideoververtical" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="{{obj.ContentURL}}" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                            <img src="{{obj.ContentURL}}" alt="" data-bgposition="30% 50%" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
        </header>
    </div>
</div>