<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile/add">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>New Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>Update Profiles</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-columns" aria-hidden="false"></i>
                            <span>Gorgias Setting</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="nav-parent">
                                <a>
                                    Bulk Profile
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="dbBulk">
                                            Add Profiles
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Address
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="address">
                                            Addresses
                                        </a>
                                    </li>
                                    <li>
                                        <a href="address/add">
                                            Add Address
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Address Type
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="addresstype">
                                            Address Types
                                        </a>
                                    </li>
                                    <li>
                                        <a href="addresstype/add">
                                            Add Address Type
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Album
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="album">
                                            Albums
                                        </a>
                                    </li>
                                    <li>
                                        <a href="album/add">
                                            Add Album
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Album Candid Type
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="albumtype">
                                            Album Candid Types
                                        </a>
                                    </li>
                                    <li>
                                        <a href="albumtype/add">
                                            Add Album Candid Type
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    About Attribute
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="attribute">
                                            About Attributes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="attribute/add">
                                            Add About Attribute
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Album Category
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="category">
                                            Album Categories
                                        </a>
                                    </li>
                                    <li>
                                        <a href="category/add">
                                            Add Album Category
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    City
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="city">
                                            Cities
                                        </a>
                                    </li>
                                    <li>
                                        <a href="city/add">
                                            Add City
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Connection
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="connection">
                                            Connections
                                        </a>
                                    </li>
                                    <li>
                                        <a href="connection/add">
                                            Add Connection
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Album Content
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="content">
                                            Album Contents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="content/add">
                                            Add Album Content
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Country
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="country">
                                            Countries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="country/add">
                                            Add Country
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Feature
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="feature">
                                            Features
                                        </a>
                                    </li>
                                    <li>
                                        <a href="feature/add">
                                            Add Feature
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Featured Sponsor
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="featuredsponsor">
                                            Featured Sponsors
                                        </a>
                                    </li>
                                    <li>
                                        <a href="featuredsponsor/add">
                                            Add Featured Sponsor
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Industry
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="industry">
                                            Industries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="industry/add">
                                            Add Industry
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Link Type
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="linktype">
                                            Link Types
                                        </a>
                                    </li>
                                    <li>
                                        <a href="linktype/add">
                                            Add Link Type
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Message
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="message">
                                            Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="message/add">
                                            Add Message
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Newsletter
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="newsletter">
                                            Newsletters
                                        </a>
                                    </li>
                                    <li>
                                        <a href="newsletter/add">
                                            Add Newsletter
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Profile
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="profile">
                                            Profiles
                                        </a>
                                    </li>
                                    <li>
                                        <a href="profile/add">
                                            Add Profile
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Profile Attribute
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="profileattribute">
                                            Profile Attributes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="profileattribute/add">
                                            Add Profile Attribute
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Profile External Link
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="externallink">
                                            Profile External Links
                                        </a>
                                    </li>
                                    <li>
                                        <a href="externallink/add">
                                            Add Profile External Link
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Profile Social Network
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="profilesocialnetwork">
                                            Profile Social Networks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="profilesocialnetwork/add">
                                            Add Profile Social Network
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Profile Tag
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="profiletag">
                                            Profile Tags
                                        </a>
                                    </li>
                                    <li>
                                        <a href="profiletag/add">
                                            Add Profile Tag
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Profile Type
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="profiletype">
                                            Profile Types
                                        </a>
                                    </li>
                                    <li>
                                        <a href="profiletype/add">
                                            Add Profile Type
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Request Type
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="requesttype">
                                            Request Types
                                        </a>
                                    </li>
                                    <li>
                                        <a href="requesttype/add">
                                            Add Request Type
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Social Network
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="socialnetwork">
                                            Social Networks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="socialnetwork/add">
                                            Add Social Network
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Subscription Type
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="subscriptiontype">
                                            Subscription Types
                                        </a>
                                    </li>
                                    <li>
                                        <a href="subscriptiontype/add">
                                            Add Subscription Type
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Tag
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="tag">
                                            Tags
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tag/add">
                                            Add Tag
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    Theme
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="theme">
                                            Themes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="theme/add">
                                            Add Theme
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    User
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="user">
                                            Users
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user/add">
                                            Add User
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    User Profile
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="userprofile">
                                            User Profiles
                                        </a>
                                    </li>
                                    <li>
                                        <a href="userprofile/add">
                                            Add User Profile
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-parent">
                                <a>
                                    User Role
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="userrole">
                                            User Roles
                                        </a>
                                    </li>
                                    <li>
                                        <a href="userrole/add">
                                            Add User Role
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>

    </div>
</aside>
