.web-slider-tag-C5{
    color:#ffffff !important;
    background-color:#000000 !important;
    border-color:#000000 !important;
}

.web-slider-country-C5 {
}

.web-slider-country-code-C5 {
}

.web-slider-name-C5 {
}

.web-slider-description-C5 {
}

.web-slider-subscription-C5 {
}

.web-slider-subscription-like-C5 {
}

.web-slider-available-app-C5{

}

.web-slider-menu-home-C5 {
}

.web-slider-menu-gallery-C5{
}

.web-slider-menu-about-C5 {
}

.web-slider-contact-C5 {
}

.web-slider-contact-title-C5{
}

.web-slider-social-C5{
}

.web-slider-follow-C5{

}

.web-slider-tag-bottom-C5{

}

/*Web*/
.web-tag-C5{
    color:#ffffff !important;
    background-color:#000000 !important;
    border-color:#000000 !important;
}

.web-country-C5 {
}

.web-country-code-C5 {
}

.web-name-C5 {
    color:#ffd800;
    background-color:black;
}

.web-description-C5 {
}

.web-subscription-C5 {
}

.web-subscription-like-C5 {
}

.web-available-app-C5{

}

.web-social-C5{
}

.web-tag-bottom-C5{
}

.web-follow-C5 {
}

/*Ads*/
.ads-description-C5{

}