<div class="inner-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Administration Panel</h2>
        </header>
        <!-- start: page -->
        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Web Cover</h2>
                    </header>
                    <div class="panel-body">
                        <ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods"></ng-dropzone>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Mobile Splash Cover</h2>
                    </header>
                    <div class="panel-body">
                        <ng-dropzone class="dropzone" options="dzMobileOptions" callbacks="dzMobileCallbacks" methods="dzMobileMethods"></ng-dropzone>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Mobile Profile Cover</h2>
                    </header>
                    <div class="panel-body">
                        <ng-dropzone class="dropzone" options="dzMobileProfileOptions" callbacks="dzMobileProfileCallbacks" methods="dzMobileProfileMethods"></ng-dropzone>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Slider Images</h2>
                    </header>
                    <div class="panel-body">
                        <ng-dropzone class="dropzone" options="dzImagesOptions" callbacks="dzImagesCallbacks" methods="dzImagesMethods"></ng-dropzone>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Slider Mini Images</h2>
                    </header>
                    <div class="panel-body">
                        <ng-dropzone class="dropzone" options="dzMiniImagesOptions" callbacks="dzMiniImagesCallbacks" methods="dzMiniImagesMethods"></ng-dropzone>
                    </div>
                </section>
            </div>
        </div>
        <!-- end: page -->
    </section>
</div>