<div id="custom-modal">
    <div id="overlay">
        <div class="login-layout">
            <img src="/content/images/gorgias_logo.png" width="50" height="50" class="login-gorgias-logo">
            <div class="login-action error-message" style="font-size: 15px;line-height: 22px;">
                Limited results? Download app to get more!
            </div>
            <!--<button class="btn btn-default" style="margin-top:7px;" >Access To Private App</button><br />-->
            <div style="clear:both;float:none;text-align:center;width:67%;margin:13px auto;">
                <a href="https://play.google.com/store/apps/details?id=com.gorgias.app" target="_blank"><img src="../../content/images/android-gorgias-app.png" width="90" style="float:left;margin-right:7px;cursor:pointer;" /></a>
                <a href="https://itunes.apple.com/my/app/gorgias/id1193285323?mt=8" target="_blank"><img src="../../content/images/apple-gorgias-app.png" width="90" style="float:left;margin-right:7px;cursor:pointer;" /></a>
            </div>
            <div style="clear:both;float:none;text-align:center;width:67%;margin:5px auto;font-size: 13px;">
                <a class="btn btn-default" style="margin-top:7px;" ng-click="close()">Later</a>
            </div>
        </div>
    </div>
    <div id="fade"></div>
</div>
