<div class="inner-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Administration Panel</h2>
        </header>
        <!-- start: page -->
        <div class="row">
            <div class="col-md-6">
                <form id="form" role="form" novalidate angular-validator name="addProfileCommissionForm" angular-validator-submit="AddObject()" class="form-horizontal">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>
                            <h2 class="panel-title">Add Profile Commission</h2>
                            <p class="panel-subtitle">
                                Please fill required information.
                            </p>
                        </header>
                        <div class="panel-body">
                            <div class="form-group"><label class="col-sm-3 control-label">Commission Rate<span class="required">*</span></label><div class="col-sm-9"><div class="input-group"><span class="input-group-addon"><i class="fa fa-money"></i></span><input type="text" name="ProfileCommissionRate" ng-model="object.ProfileCommissionRate" validate-on="blur" class="form-control" required /></div></div></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Date Created<span class="required">*</span></label><div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <div uib-dropdown>
                                            <div uib-dropdown-toggle class="input-group">
                                                <input type="text" class="form-control" data-ng-model="object.ProfileCommissionDateCreated" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" uib-tooltip="Open Calendar">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                        <span class="sr-only">Calendar</span>
                                                    </button>
                                                </span>
                                            </div>
                                            <div uib-dropdown-menu role="menu" auto-close="outsideClick">
                                                <datetimepicker data-ng-model="object.ProfileCommissionDateCreated">
                                                </datetimepicker>
                                            </div>
                                        </div>
                                        <!--<input type="text" name="ProfileCommissionDateCreated" data-plugin-datepicker ng-model="object.ProfileCommissionDateCreated" validate-on="blur" class="form-control" required />-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label">Status</label><div class="col-sm-9"><div class="checkbox-custom chekbox-primary"><input id="ProfileCommissionStatus" ng-model="object.ProfileCommissionStatus" validate-on="blur" value="ProfileCommissionStatus" type="checkbox" name="for[]" /><label for="ProfileCommissionStatus">Status</label></div></div></div>
                            <div class="form-group"><label class="col-sm-3 control-label">Profile</label><div class="col-sm-9"><select id="ProfileID" class="form-control" ng-model="object.ProfileID" ng-options="option.ProfileID as option.ProfileFullname for option in Profiles" title="Please select at least one" required></select><input type="hidden" name="ProfileID" ng-value="object.ProfileID" /></div></div>
                            <div class="form-group"><label class="col-sm-3 control-label">User</label><div class="col-sm-9"><select id="UserID" class="form-control" ng-model="object.UserID" ng-options="option.UserID as option.UserFullname for option in Users" title="Please select at least one" required></select><input type="hidden" name="UserID" ng-value="object.UserID" /></div></div>
                            <div class="form-group"><label class="col-sm-3 control-label">User Role</label><div class="col-sm-9"><select id="UserRoleID" class="form-control" ng-model="object.UserRoleID" ng-options="option.UserRoleID as option.UserRoleName for option in UserRoles" title="Please select at least one" required></select><input type="hidden" name="UserRoleID" ng-value="object.UserRoleID" /></div></div>
                        </div>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <a class="btn btn-default" ng-href="/profilecommission">Cancel</a>
                                </div>
                            </div>
                        </footer>
                    </section>
                </form>
            </div>
        </div>
        <!-- end: page -->
    </section>
</div>
